/* right */
.mr-r-1 {
    margin-right: 1px !important;
}
.mr-r-3 {
    margin-right: 3px !important;
}
.mr-r-4 {
    margin-right: 4px !important;
}
.mr-r-10 {
    margin-right: 10px !important;
}
.mr-r-12 {
    margin-right: 12px !important;
}
.mr-r-20 {
    margin-right: 20px !important;
}
.mr-r-24 {
    margin-right: 24px !important;
}
.mr-r-30 {
    margin-right: 30px !important;
}
.mr-r-40 {
    margin-right: 40px !important;
}
.mr-r-50 {
    margin-right: 50px !important;
}
.mr-r-60 {
    margin-right: 60px !important;
}
.mr-r-70 {
    margin-right: 70px !important;
}
/* left */
.mr-l-10 {
    margin-left: 10px !important;
}
.mr-l-12 {
    margin-left: 12px !important;
}
.mr-l-18 {
    margin-left: 18px !important;
}
.mr-l-20 {
    margin-left: 20px !important;
}
.mr-l-26 {
    margin-left: 26px !important;
}
.mr-l-27 {
    margin-left: 27px !important;
}
.mr-l-30 {
    margin-left: 30px !important;
}
.mr-l-40 {
    margin-left: 40px !important;
}
.mr-l-48 {
    margin-left: 48px !important;
}
.mr-l-50 {
    margin-left: 50px !important;
}
.mr-l-60 {
    margin-left: 60px !important;
}
.mr-l-70 {
    margin-left: 70px !important;
}
.mr-l-80 {
    margin-left: 80px !important;
}
/* top */
.mr-t-2 {
    margin-top: 2px !important;
}
.mr-t-4 {
    margin-top: 4px !important;
}
.mr-t-6 {
    margin-top: 6px !important;
}
.mr-t-8 {
    margin-top: 8px !important;
}
.mr-t-10 {
    margin-top: 10px !important;
}
.mr-t-12 {
    margin-top: 12px !important;
}
.mr-t-14 {
    margin-top: 14px !important;
}
.mr-t-15 {
    margin-top: 15px !important;
}
.mr-t-16 {
    margin-top: 16px !important;
}
.mr-t-20 {
    margin-top: 20px !important;
}
.mr-t-30 {
    margin-top: 30px !important;
}
.mr-t-40 {
    margin-top: 40px !important;
}
.mr-t-50 {
    margin-top: 50px !important;
}
/* bottom */
.mr-b-6 {
    margin-bottom: 6px !important;
}
.mr-b-10 {
    margin-bottom: 10px !important;
}
.mr-b-14 {
    margin-bottom: 14px !important;
}
.mr-b-20 {
    margin-bottom: 20px !important;
}
.mr-b-26 {
    margin-bottom: 26px !important;
}
.mr-b-30 {
    margin-bottom: 30px !important;
}
.mr-b-40 {
    margin-bottom: 40px !important;
}
.mr-b-50 {
    margin-bottom: 50px !important;
}
